
$color-red:#e23237;


$gradient1: #fc4a76;
$gradient2: #ffa090;
$gradient3: #766be8;
$gradient4: #c15dd4;

$shadow1: #fc4a764d 0px 19px 38px, #fc4a7638 0px 15px 12px;
$shadow2: #766be84d 0px 19px 38px, #766be838 0px 15px 12px;